###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/pcre-8.00.tar.bz2
md5sum = caf564aa69d68e965e9bf0ff2a094c65
configure-options=  --enable-pcregrep-libz  --enable-pcregrep-libbz2

[mirrors]
gentoo=mirror.muntinternet.net/pub



